# Build results
**/bin/
**/obj/

# User-specific files
*.user
*.suo
.vs/

# NuGet packages
**/packages/
*.nupkg

# dotnet
project.lock.json
project.fragment.lock.json
artifacts/

# OS files
.DS_Store
Thumbs.db

# Data files generados por el backend
Backend/Data/